.textfield {
    background-color: white;
  }
  
  .textfield .MuiOutlinedInput-root fieldset {
    border-color: white;
  }
  
  .textfield .MuiOutlinedInput-root:hover fieldset {
    border-color: blue;
  }
  
  .textfield .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: blue;
  }
  
  .textfield .MuiInputLabel-root {
    color: white;
  }
  
  .textfield .MuiInputBase-input {
    color: white;
  }
  